.idea

pizza.shop/shop.pizza-shop/vendor
pizza.shop/shop.pizza-shop/composer.lock

pizza.shop/auth.pizza-shop/vendor
pizza.shop/auth.pizza-shop/composer.lock

pizza.shop/catalogue.pizza-shop/vendor
pizza.shop/catalogue.pizza-shop/composer.lock

pizza.shop/commande.pizza-shop/vendor
pizza.shop/commande.pizza-shop/composer.lock